body {
    margin: 0;

    font-size: 14px;
    background-color: #EFF0F2;
    color: #454546;

    font-family: 'Montserrat', sans-serif;

    transition: all .1s linear;
}

.dark {
    background-color: #222;
    color: #eeecea;
}


/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #EFF0F2;
}

::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #50c3b9;
    border-radius: 8px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a:any-link {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: 1100px;

    margin: 0 auto;

    color: inherit;
}

.header {
    padding-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;

    color: inherit;
}
.headerr {
    background: #FFF;
    padding-top: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 700;
}

.header__logo {
    padding: 7px;
    border: solid 5px #000;
    border-color: inherit;
    font-size: 17px;

    color: inherit;
}

.header__logo snap {
    color: #50c3b9;
    font-size: 21px;
}

.header__menu {
    border-bottom: solid 2px;
    border-color: inherit;
    cursor: pointer;

    color: inherit;
}

/* Inner */

.inner {

    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: inherit;
}

.inner__title {
    margin: 190px auto;
    text-shadow: 3px 8px 10px rgba(0, 0, 0, 0.38);
    font-size: 45px;
    font-weight: 700;

    text-transform: uppercase;

    color: inherit;
}

.inner__title snap {
    background: rgba(118, 244, 234, 0.5);
}

.inner__btn {
    margin: 130px auto;
    margin-bottom: 0;
    padding: 15px;
    max-width: 230px;

    border: solid 2px;
    border-color: inherit;
    border-radius: 3px;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;

    transition: all .2s linear;
}

.inner__btn:hover {
    background: #a6b8dd;
}

.inner__glass {
    margin-left: 60%;
}

.inner a {
    color: inherit;
    text-decoration: none;
}
.tr {
    min-height: 0hv;
}

/* About Us */

.about {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;

    padding: 60px;

    background-repeat: no-repeat;
    background-image: url("../images/bg_2_cent.webp");
}

.about__title {
    margin-top: 120px;

    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about__suptitle {
    font-weight: 700;
    font-size: 38px;
}

.about__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.about__subtitle a {
    text-decoration: none;
    color: inherit;

    transition: all .2s linear;
}

.about__subtitle a:hover {
    color: #50c3b9;
}

.about__content {
    display: flex;
    justify-content: space-around;

    margin-top: 150px;
    flex-wrap: wrap;
}

.about__photo {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;

    height: 400px;

    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.58);
    border-radius: 6px;

    transition: transform .2s linear;
}

.about__photo:hover {
    transform: translate3d(-1px, -10px, 0);
}


.about__text {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Comfortaa', cursive;

    font-size: 18px;
    max-width: 485px;
    font-weight: 600;
}

.about__text snap {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
    font-weight: 700;
}

/* Download */

.download {
    text-align: center;
    min-height: 400px;
}

.download__title {
    margin: 10px;
    margin-top: 70px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 38px;
}

.download__subtitle {
    margin-bottom: 20px;

    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.download__var {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.download__btn {
    width: 350px;
    margin-bottom: 40px;

    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: 400;
}

.download__text {
    margin: 20px auto;
}

.download__href {
    padding: 10px;
    width: 100%;

    text-decoration: none;
    color: inherit;
    line-height: 1.5;

    border: solid 2px #454546;
    border-radius: 3px;

    transition: background .2s linear, color .2s linear;
}

.download__href snap {
    font-size: 17px;
}

.download__href:hover {
    background: #a6b8dd;
    color: white;
}
/* Secon page */

section {
    padding: 20px;
    max-width: 1280px;
    margin: 40px auto;
    transition: all .2s linear;
}
section ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
section ul li {
    list-style: none;
    background: #122;
    padding: 8px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
section ul li.active {
    background: #50c3b9;
    color: #fff;
}

.product {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transition: all .2s linear;
}
.product .itemBox {
    max-width: 300px;
    max-height: 450px;
    margin: 5px;
    margin-bottom: 45px;
    text-align: center;
    font-size: 22px;
}
.product .itemBox img{
    width: 100%;
    height: 430px;
    object-fit: cover;
    border-radius: 20px;
    border: solid 0px #000;
    transition: transform .2s linear;
}
.product .itemBox img:hover {
    transform: translate3d(0px, -10px, 0);
}

/* Footer */

.footer {
    background: #1d2121;
    color: #fff;
    background-repeat: no-repeat;
    background-image: url("../images/bg_2_cent_d.webp");
    background-position: 100% 80%;
    -webkit-background-size: 30%;
    background-size: 30%;

    min-height: 200px;

}

.footer__inner {
    display: flex;
    justify-content: space-around;

    padding: 40px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.footer__col {
    margin: 80px auto;

    max-width: 40%;
}

.footer__col--s{
    text-align: center;
}

.footer__title {
    font-weight: 700;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 20px;
}

.footer__text{
    margin-bottom: 30px;
    margin-top: 30px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.footer__textt {
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 2;
    color: inherit;
}

.footer__textr {
    width: 40%;
}

.footer__textr a {
    text-decoration: none;
    color: rgba(255, 128, 0, 0.62);
}

.footer__btn {
    text-align: center;
    text-decoration: none;
    color: #fff;

    width: 100%;
    padding: 15px;
    border: solid 2px #fff;
    border-radius: 3px;

    font-weight: 400;
    font-size: 15px;

    transition: all .2s linear;
}

.footer__btn:hover {
    background: rgba(255, 128, 0, 0.62);
}



/* copyright */

.copyright {
    padding: 20px 0;

    border-top: 2px solid #101212;

    font-size: 15px;
    text-align: center;
    font-weight: 700;
}




@media (max-width: 1679px) {
    .inner {
        background-image: none;
        background-position: left;
        -webkit-background-size: auto;
        background-size: auto;
    }
}

@media (max-width: 852px) {
    .about__photo {
        height: 400px;
    }

    .footer__col--s {
        display: none;
    }
}

@media (max-width: 746px) {
    .about__photo {
        height: 300px;
    }
    .inner__title {
        font-size: 30px;
    }

    .inner {
        padding: 30px;
    }

    .footer {
        background-image: none;
        background-position: left;
        -webkit-background-size: auto;
        background-size: auto;
    }
}

@media (max-width: 490px) {
    .about__photo {
        height: 200px;
    }
}

@media (max-width: 410px) {
    .about {
        background-image: none;
        background-position: left;
        -webkit-background-size: auto;
        background-size: auto;
    }
}


@media (max-height: 900px) {
    .inner {
        background-image: none;
        background-position: left;
        -webkit-background-size: auto;
        background-size: auto;
    }
}















